services:
    app:
        image: ${DOCKER_IMAGE_NAME}
        container_name: ${DOCKER_CONTAINER_NAME}
        restart: unless-stopped
        networks:
            - traefik_swarm_network
        environment:
            - APP_ENV=${ENVIRONMENT}
            - CONTAINER_ROLE=app
            - APP_TYPE=fullstack
        volumes:
            # Use bind mounts to ensure the code is available in the container
            - type: bind
              source: ../../
              target: /var/www/html
            - type: bind
              source: ../../storage
              target: /var/www/html/storage
            - type: bind
              source: ../../public
              target: /var/www/html/public
            - type: bind
              source: ${SECRETS_MOUNT_FILE}
              target: /home/sail/config/laravel/common-values.env
              read_only: true
        labels:
            - "traefik.enable=true"
            - "traefik.docker.network=${TRAEFIK_SWARM_NETWORK}"

            # HTTP Service
            - "traefik.http.services.${COMPOSE_PROJECT_NAME}_http_service.loadbalancer.server.port=8000"

            # HTTP to HTTPS Redirect Router
            - "traefik.http.routers.${COMPOSE_PROJECT_NAME}_http_insecure.entrypoints=web"
            - "traefik.http.routers.${COMPOSE_PROJECT_NAME}_http_insecure.rule=Host(`${APP_URL_DOMAIN}`) && PathPrefix(`/${APP_URL_PATH}`)"
            - "traefik.http.routers.${COMPOSE_PROJECT_NAME}_http_insecure.middlewares=${COMPOSE_PROJECT_NAME}-https-redirect"

            # Service-specific middleware for X-Forwarded-Host
            - "traefik.http.middlewares.${COMPOSE_PROJECT_NAME}-forwarded-host.headers.customrequestheaders.X-Forwarded-Host=${APP_URL_DOMAIN}"

            # Main HTTPS Router
            - "traefik.http.routers.${COMPOSE_PROJECT_NAME}_http.entrypoints=websecure"
            - "traefik.http.routers.${COMPOSE_PROJECT_NAME}_http.rule=Host(`${APP_URL_DOMAIN}`) && PathPrefix(`/${APP_URL_PATH}`)"
            - "traefik.http.routers.${COMPOSE_PROJECT_NAME}_http.tls=true"
            - "traefik.http.routers.${COMPOSE_PROJECT_NAME}_http.tls.certresolver=letsencrypt"
            - "traefik.http.routers.${COMPOSE_PROJECT_NAME}_http.service=${COMPOSE_PROJECT_NAME}_http_service"
            - "traefik.http.routers.${COMPOSE_PROJECT_NAME}_http.middlewares=secure-headers,${COMPOSE_PROJECT_NAME}-forwarded-host,${COMPOSE_PROJECT_NAME}-stripprefix"

            # Strip prefix middleware to remove URL path prefix from requests
            - "traefik.http.middlewares.${COMPOSE_PROJECT_NAME}-stripprefix.stripprefix.prefixes=/${APP_URL_PATH}"

            # HTTPS Redirect Middleware
            - "traefik.http.middlewares.${COMPOSE_PROJECT_NAME}-https-redirect.redirectscheme.scheme=https"

networks:
    traefik_swarm_network:
        external: true
        name: ${TRAEFIK_SWARM_NETWORK}
